{namespace neos=TYPO3\Neos\ViewHelpers}
<f:layout name="Default" />

<f:section name="head">
	 <title>404 | Jednotka - Multipurpose Template</title>
    <meta content='blog, business, clean, multipurpose template, twitter bootstrap 3, responsive' name='keywords'>
    <meta content='Jednotka is multipurpose Twitter Bootstrap 3 template which is suitable for any type of business or online project. ' name='description'>
    <meta content='BublinaStudio.com' name='author'>
    <meta content='all' name='robots'>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
   
    <!-- / required stylesheets -->
    <link href="{f:uri.resource(path: 'stylesheets/jednotka_green.css', package: 'HEX.Jed')}" media="all" rel="stylesheet" type="text/css" />
    <link href="{f:uri.resource(path: 'stylesheets/bootstrap/bootstrap.min.css', package: 'HEX.Jed')}" media="all" rel="stylesheet" type="text/css" />
   
    <link href="{f:uri.resource(path: 'stylesheets/demo.css', package: 'HEX.Jed')}" media="all" rel="stylesheet" type="text/css" />
    <!--[if lt IE 9]>
      <script src="assets/javascripts/ie/html5shiv.js" type="text/javascript"></script>
      <script src="assets/javascripts/ie/respond.min.js" type="text/javascript"></script>
    <![endif]-->
</f:section>

<f:section name="body">
	<body class='error-page'>
    <div id='wrapper'>
      <div class='container'>
        <div class='row'>
          <div class='col-sm-12'>
            <h1 class='code fadeInDown animated'>
              <span>4</span>
              <span class='fa-icon-question-sign'></span>
              <span>4</span>
            </h1>
          </div>
        </div>
        <div class='row'>
          <div class='col-sm-12'>
            <p class='message fadeInLeft animated'>
              Sorry, the page you are looking for doesn’t exist.
              <br>
              Take a run around the block or tap the button below.
            </p>
            <a class="btn btn-bordered btn-white btn-lg fadeInRight animated" href='/'>Go to homepage</a>
          </div>
        </div>
        <div class='row'>
          <div class='col-sm-12'>
            <a href='index.html'>
              <img class="logo fadeInUp animated" alt="Jednotka" width="117" height="39" src="assets/images/logo.svg" />
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class='style-switcher' id='style-switcher'>
      <div class='style-switcher-heading'>
        Style switcher
        <i class='fa-icon-cogs'></i>
      </div>
      <div class='style-switcher-body'>
        <div class='style-switcher-colors'>
          <div class='style-switcher-title'>Colors</div>
          <a class='style-switcher-color orange' data-switch-target='#colors' data-switch-to='jednotka_orange.css' href='#'></a>
          <a class='style-switcher-color blue' data-switch-target='#colors' data-switch-to='jednotka_blue.css' href='#'></a>
          <a class='style-switcher-color green active' data-switch-default data-switch-target='#colors' data-switch-to='jednotka_green.css' href='#'></a>
          <a class='style-switcher-color salmon' data-switch-target='#colors' data-switch-to='jednotka_salmon.css' href='#'></a>
          <a class='style-switcher-color mint' data-switch-target='#colors' data-switch-to='jednotka_mint.css' href='#'></a>
          <a class='style-switcher-color red' data-switch-target='#colors' data-switch-to='jednotka_red.css' href='#'></a>
          <a class='style-switcher-color yellow' data-switch-target='#colors' data-switch-to='jednotka_yellow.css' href='#'></a>
        </div>
        <div class='style-switcher-layouts'>
          <div class='style-switcher-title'>Layout type</div>
          <a class='style-switcher-button active' data-switch-default data-switch-target='body' data-switch-to='removeClass:boxed' href='#'>Wide</a>
          <a class='style-switcher-button' data-switch-target='body' data-switch-to='addClass:boxed' href='#'>Boxed</a>
        </div>
        <div class='style-switcher-reset'>
          <a class='style-switcher-button' data-switch-target='#style-switcher' data-switch-to='reset:defaults' href='#'>Reset to defaults</a>
        </div>
      </div>
    </div>
  </body>
</f:section>