<div typeof="typo3:HEX.Jed:Slider" about="/sites/jed/slider/node52d89636658b6@user-litachok" class="neos-contentelement carousel-blur flexslider" tabindex="0" data-neos-__workspacename="live" data-neos-_typoscript-path="page&lt;TYPO3.Neos:Page&gt;/body&lt;TYPO3.TypoScript:Template&gt;/slider&lt;TYPO3.Neos:ContentCollection&gt;/itemRenderer&lt;TYPO3.Neos:ContentCase&gt;/default&lt;TYPO3.TypoScript:Matcher&gt;/element&lt;HEX.Jed:Slider&gt;" data-neos-_removed="false" data-neosdatatype-_removed="xsd:boolean" data-neos-_hidden="false" data-neosdatatype-_hidden="xsd:boolean" data-neos-_hidden-before-date-time="" data-neosdatatype-_hidden-before-date-time="xsd:date" data-neos-_hidden-after-date-time="" data-neosdatatype-_hidden-after-date-time="xsd:date" data-neos-__nodetype="HEX.Jed:Slider">
 
            <ul typeof="typo3:TYPO3.Neos:ContentCollection" about="/sites/jed/slider/node52d89636658b6/SliderlItems@user-litachok" class=" neos-not-inline-editable slides" rel="typo3:content-collection" tabindex="0" data-neos-__workspacename="live" data-neos-_typoscript-path="page&lt;TYPO3.Neos:Page&gt;/body&lt;TYPO3.TypoScript:Template&gt;/slider&lt;TYPO3.Neos:ContentCollection&gt;/itemRenderer&lt;TYPO3.Neos:ContentCase&gt;/default&lt;TYPO3.TypoScript:Matcher&gt;/element&lt;HEX.Jed:Slider&gt;/SliderlItems" data-neos-_removed="false" data-neosdatatype-_removed="xsd:boolean" data-neos-__nodetype="TYPO3.Neos:ContentCollection">

<li typeof="typo3:HEX.Jed:Slide" about="/sites/jed/slider/node52d89636658b6/SliderlItems/node52d896498745c@user-litachok" class="neos-contentelement item" tabindex="0" data-neos-__workspacename="live" data-neos-_typoscript-path="page&lt;TYPO3.Neos:Page&gt;/body&lt;TYPO3.TypoScript:Template&gt;/slider&lt;TYPO3.Neos:ContentCollection&gt;/itemRenderer&lt;TYPO3.Neos:ContentCase&gt;/default&lt;TYPO3.TypoScript:Matcher&gt;/element&lt;HEX.Jed:Slider&gt;/SliderlItems&lt;TYPO3.Neos:ContentCollection&gt;/itemRenderer&lt;TYPO3.Neos:ContentCase&gt;/default&lt;TYPO3.TypoScript:Matcher&gt;/element&lt;HEX.Jed:Slide&gt;" data-neos-_removed="false" data-neosdatatype-_removed="xsd:boolean" data-neos-_hidden="false" data-neosdatatype-_hidden="xsd:boolean" data-neos-_hidden-before-date-time="" data-neosdatatype-_hidden-before-date-time="xsd:date" data-neos-_hidden-after-date-time="" data-neosdatatype-_hidden-after-date-time="xsd:date" data-neos-title="&lt;h1&gt;Enter heaasasdfadsfdfadsfdline here&lt;/h1&gt;" data-neos-text="&lt;p class=&quot;animated&quot;&gt;Enter sadfaasdffadsfadsfasdfasdfasdfdsafdstext here&lt;/p&gt;" data-neos-button-link="" data-neosdatatype-button-link="xsd:reference" data-neos-button-title="Ressdafadsadadsfadsffsasdasdfasdfadsfadad more" data-neos-__nodetype="HEX.Jed:Slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">
	
	
		
			 <div class="container">
                <div class="row">
                  <div class="col-lg-12 animate">
                  		<div property="typo3:title" class="neos-inline-editable aloha-editable aloha-block-blocklevel-sortable ui-sortable animate" id="c2588eaa-4a00-ce17-84fa-ade80bdb71a4" contenteditable="true"><h1 class="animated">Enter heaasasdfadsfdfadsfdline here</h1></div>
						<div class="neos-inline-editable HELLLLP aloha-editable aloha-block-blocklevel-sortable ui-sortable animate" property="typo3:text" id="4e75ef82-a739-3bf1-b045-6c055a1238a6" contenteditable="true"><p class="animated">Enter sadfaasdffadsfadsfasdfasdfasdfdsafdstext here</p></div>

        			     <a class="btn btn-contrast btn-lg fadeInDownBig animate">
          			    <div property="typo3:buttonTitle" class="neos-inline-editable aloha-editable aloha-block-blocklevel-sortable ui-sortable animated" id="2ef19e44-4f06-580b-09ad-c447f9633ae4" contenteditable="true">Ressdafadsadadsfadsffsasdasdfasdfadsfadad more</div>
          				   </a>
                  </div>
                 </div>
               </div>
		
             
			 
	     

                    
</li>


<li typeof="typo3:HEX.Jed:Slide" about="/sites/jed/slider/node52d89636658b6/SliderlItems/node52d8965977976@user-litachok" class="neos-contentelement item" tabindex="0" data-neos-__workspacename="live" data-neos-_typoscript-path="page&lt;TYPO3.Neos:Page&gt;/body&lt;TYPO3.TypoScript:Template&gt;/slider&lt;TYPO3.Neos:ContentCollection&gt;/itemRenderer&lt;TYPO3.Neos:ContentCase&gt;/default&lt;TYPO3.TypoScript:Matcher&gt;/element&lt;HEX.Jed:Slider&gt;/SliderlItems&lt;TYPO3.Neos:ContentCollection&gt;/itemRenderer&lt;TYPO3.Neos:ContentCase&gt;/default&lt;TYPO3.TypoScript:Matcher&gt;/element&lt;HEX.Jed:Slide&gt;" data-neos-_removed="false" data-neosdatatype-_removed="xsd:boolean" data-neos-_hidden="false" data-neosdatatype-_hidden="xsd:boolean" data-neos-_hidden-before-date-time="" data-neosdatatype-_hidden-before-date-time="xsd:date" data-neos-_hidden-after-date-time="" data-neosdatatype-_hidden-after-date-time="xsd:date" data-neos-title="&lt;h1&gt;Enter headline here&lt;/h1&gt;" data-neos-text="&lt;p class=&quot;animated&quot;&gt;Enteasdfadsfr text here&lt;/p&gt;" data-neos-button-link="" data-neosdatatype-button-link="xsd:reference" data-neos-button-title="Reaasdfadsfasdasdasdfd more" data-neos-__nodetype="HEX.Jed:Slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">
	
	
		
			 <div class="container">
                <div class="row">
                  <div class="col-lg-12 animate">
                  		<div property="typo3:title" class="neos-inline-editable aloha-editable aloha-block-blocklevel-sortable ui-sortable animated" id="90b7389b-1b2e-363b-df17-de9f0977b179" contenteditable="true"><h1 class="animated">Enter headline here</h1></div>
						<div class="neos-inline-editable HELLLLP aloha-editable aloha-block-blocklevel-sortable ui-sortable animated" property="typo3:text" id="1af5de68-0bb5-f8a0-de12-ae52c4b30eac" contenteditable="true"><p class="animated">Enteasdfadsfr text here</p></div>

        			     <a class="btn btn-contrast btn-lg fadeInDownBig animated">
          			    <div property="typo3:buttonTitle" class="neos-inline-editable aloha-editable aloha-block-blocklevel-sortable ui-sortable animated" id="0ef2dda1-f706-fcc7-35e8-236a2dc2348f" contenteditable="true">Reaasdfadsfasdasdasdfd more</div>
          				   </a>
                  </div>
                 </div>
               </div>
		
             
			 
	     

                    
</li>


<li typeof="typo3:HEX.Jed:Slide" about="/sites/jed/slider/node52d89636658b6/SliderlItems/node52d8965169314@user-litachok" class="neos-contentelement item flex-active-slide" tabindex="0" data-neos-__workspacename="live" data-neos-_typoscript-path="page&lt;TYPO3.Neos:Page&gt;/body&lt;TYPO3.TypoScript:Template&gt;/slider&lt;TYPO3.Neos:ContentCollection&gt;/itemRenderer&lt;TYPO3.Neos:ContentCase&gt;/default&lt;TYPO3.TypoScript:Matcher&gt;/element&lt;HEX.Jed:Slider&gt;/SliderlItems&lt;TYPO3.Neos:ContentCollection&gt;/itemRenderer&lt;TYPO3.Neos:ContentCase&gt;/default&lt;TYPO3.TypoScript:Matcher&gt;/element&lt;HEX.Jed:Slide&gt;" data-neos-_removed="false" data-neosdatatype-_removed="xsd:boolean" data-neos-_hidden="false" data-neosdatatype-_hidden="xsd:boolean" data-neos-_hidden-before-date-time="" data-neosdatatype-_hidden-before-date-time="xsd:date" data-neos-_hidden-after-date-time="" data-neosdatatype-_hidden-after-date-time="xsd:date" data-neos-title="&lt;h1&gt;Enter headline here&lt;/h1&gt;" data-neos-text="&lt;p&gt;Enter text here&lt;/p&gt;" data-neos-button-link="" data-neosdatatype-button-link="xsd:reference" data-neos-button-title="Read adsfadsfmore" data-neos-__nodetype="HEX.Jed:Slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;">
	
	
		
			 <div class="container">
                <div class="row">
                  <div class="col-lg-12 animate">
                  		<div property="typo3:title" class="neos-inline-editable aloha-editable aloha-block-blocklevel-sortable ui-sortable animated" id="34decc75-5dc5-7137-3cb1-11f3a267fe6d" contenteditable="true"><h1 class="animated">Enter headline here</h1></div>
						<div class="neos-inline-editable HELLLLP aloha-editable aloha-block-blocklevel-sortable ui-sortable animated" property="typo3:text" id="fdbc99a7-3285-4a40-c231-749b6f6f1e4a" contenteditable="true"><p class="animated">Enter text here</p></div>

        			     <a class="btn btn-contrast btn-lg fadeInDownBig animated">
          			    <div property="typo3:buttonTitle" class="neos-inline-editable aloha-editable aloha-block-blocklevel-sortable ui-sortable animated" id="25480ee3-02d1-245f-39cd-729a0a7c6b1a" contenteditable="true">Read adsfadsfmore</div>
          				   </a>
                  </div>
                 </div>
               </div>
		
             
			 
	     

                    
</li>
</ul>
            
 
<ol class="flex-control-nav flex-control-paging"><li><a class="">1</a></li><li><a class="">2</a></li><li><a class="flex-active">3</a></li></ol><ul class="flex-direction-nav"><li><a class="flex-prev" href="#"></a></li><li><a class="flex-next" href="#"></a></li></ul></div>