<div typeof="typo3:HEX.Jed:Slider" about="/sites/jed/slider/node52d89636658b6@user-litachok" class="neos-contentelement carousel-blur flexslider neos-contentelement-hover" tabindex="0" data-neos-__workspacename="live" data-neos-_typoscript-path="page&lt;TYPO3.Neos:Page&gt;/body&lt;TYPO3.TypoScript:Template&gt;/slider&lt;TYPO3.Neos:ContentCollection&gt;/itemRenderer&lt;TYPO3.Neos:ContentCase&gt;/default&lt;TYPO3.TypoScript:Matcher&gt;/element&lt;HEX.Jed:Slider&gt;" data-neos-_removed="false" data-neosdatatype-_removed="xsd:boolean" data-neos-_hidden="false" data-neosdatatype-_hidden="xsd:boolean" data-neos-_hidden-before-date-time="" data-neosdatatype-_hidden-before-date-time="xsd:date" data-neos-_hidden-after-date-time="" data-neosdatatype-_hidden-after-date-time="xsd:date" data-neos-__nodetype="HEX.Jed:Slider">
 
            
            
 
<div class="flex-viewport" style="overflow: hidden; position: relative;"><ul typeof="typo3:TYPO3.Neos:ContentCollection" about="/sites/jed/slider/node52d89636658b6/SliderlItems@user-litachok" class=" neos-not-inline-editable slides" rel="typo3:content-collection" tabindex="0" data-neos-__workspacename="live" data-neos-_typoscript-path="page&lt;TYPO3.Neos:Page&gt;/body&lt;TYPO3.TypoScript:Template&gt;/slider&lt;TYPO3.Neos:ContentCollection&gt;/itemRenderer&lt;TYPO3.Neos:ContentCase&gt;/default&lt;TYPO3.TypoScript:Matcher&gt;/element&lt;HEX.Jed:Slider&gt;/SliderlItems" data-neos-_removed="false" data-neosdatatype-_removed="xsd:boolean" data-neos-__nodetype="TYPO3.Neos:ContentCollection" style="width: 600%; -webkit-transition: 0s; transition: 0s; -webkit-transform: translate3d(0px, 0, 0);">

<li typeof="typo3:HEX.Jed:Slide" about="/sites/jed/slider/node52d89636658b6/SliderlItems/node52d896498745c@user-litachok" class="neos-contentelement item flex-active-slide" tabindex="0" data-neos-__workspacename="live" data-neos-_typoscript-path="page&lt;TYPO3.Neos:Page&gt;/body&lt;TYPO3.TypoScript:Template&gt;/slider&lt;TYPO3.Neos:ContentCollection&gt;/itemRenderer&lt;TYPO3.Neos:ContentCase&gt;/default&lt;TYPO3.TypoScript:Matcher&gt;/element&lt;HEX.Jed:Slider&gt;/SliderlItems&lt;TYPO3.Neos:ContentCollection&gt;/itemRenderer&lt;TYPO3.Neos:ContentCase&gt;/default&lt;TYPO3.TypoScript:Matcher&gt;/element&lt;HEX.Jed:Slide&gt;" data-neos-_removed="false" data-neosdatatype-_removed="xsd:boolean" data-neos-_hidden="false" data-neosdatatype-_hidden="xsd:boolean" data-neos-_hidden-before-date-time="" data-neosdatatype-_hidden-before-date-time="xsd:date" data-neos-_hidden-after-date-time="" data-neosdatatype-_hidden-after-date-time="xsd:date" data-neos-title="&lt;h1&gt;Enter heaasasdfadsfdfadsfdline here&lt;/h1&gt;" data-neos-text="&lt;p class=&quot;animated&quot;&gt;Enter sadfaasdffadsfadsfasdfasdfasdfdsafdstext here&lt;/p&gt;" data-neos-button-link="" data-neosdatatype-button-link="xsd:reference" data-neos-button-title="Ressdafadsadadsfadsffsasdasdfasdfadsfadad more" data-neos-__nodetype="HEX.Jed:Slide" style="width: 1286px; float: left; display: block;">
	
	
		
			 <div class="container">
                <div class="row">
                  <div class="col-lg-12 animate">
                  		<div property="typo3:title" class="neos-inline-editable aloha-editable aloha-block-blocklevel-sortable ui-sortable" id="d3895791-3091-4b4b-815b-c3a2e3b1afee" contenteditable="true"><h1>Enter heaasasdfadsfdfadsfdline here</h1></div>
						<div class="neos-inline-editable HELLLLP aloha-editable aloha-block-blocklevel-sortable ui-sortable" property="typo3:text" id="a661140d-f73f-6d75-f146-dad4637854e1" contenteditable="true"><p class="animated">Enter sadfaasdffadsfadsfasdfasdfasdfdsafdstext here</p></div>

        			     <a class="btn btn-contrast btn-lg fadeInDownBig animated">
          			    <div property="typo3:buttonTitle" class="neos-inline-editable aloha-editable aloha-block-blocklevel-sortable ui-sortable" id="484e3ea2-a007-ef95-0a2a-697f89e4adbc" contenteditable="true">Ressdafadsadadsfadsffsasdasdfasdfadsfadad more</div>
          				   </a>
                  </div>
                 </div>
               </div>
		
             
			 
	     

                    
</li>


<li typeof="typo3:HEX.Jed:Slide" about="/sites/jed/slider/node52d89636658b6/SliderlItems/node52d8965977976@user-litachok" class="neos-contentelement item" tabindex="0" data-neos-__workspacename="live" data-neos-_typoscript-path="page&lt;TYPO3.Neos:Page&gt;/body&lt;TYPO3.TypoScript:Template&gt;/slider&lt;TYPO3.Neos:ContentCollection&gt;/itemRenderer&lt;TYPO3.Neos:ContentCase&gt;/default&lt;TYPO3.TypoScript:Matcher&gt;/element&lt;HEX.Jed:Slider&gt;/SliderlItems&lt;TYPO3.Neos:ContentCollection&gt;/itemRenderer&lt;TYPO3.Neos:ContentCase&gt;/default&lt;TYPO3.TypoScript:Matcher&gt;/element&lt;HEX.Jed:Slide&gt;" data-neos-_removed="false" data-neosdatatype-_removed="xsd:boolean" data-neos-_hidden="false" data-neosdatatype-_hidden="xsd:boolean" data-neos-_hidden-before-date-time="" data-neosdatatype-_hidden-before-date-time="xsd:date" data-neos-_hidden-after-date-time="" data-neosdatatype-_hidden-after-date-time="xsd:date" data-neos-title="&lt;h1&gt;Enter headline here&lt;/h1&gt;" data-neos-text="&lt;p class=&quot;animated&quot;&gt;Enteasdfadsfr text here&lt;/p&gt;" data-neos-button-link="" data-neosdatatype-button-link="xsd:reference" data-neos-button-title="Reaasdfadsfasdasdasdfd more" data-neos-__nodetype="HEX.Jed:Slide" style="width: 1286px; float: left; display: block;">
	
	
		
			 <div class="container">
                <div class="row">
                  <div class="col-lg-12 animate">
                  		<div property="typo3:title" class="neos-inline-editable aloha-editable aloha-block-blocklevel-sortable ui-sortable" id="8cd631ff-78ad-be33-a272-e66903f22a80" contenteditable="true"><h1>Enter headline here</h1></div>
						<div class="neos-inline-editable HELLLLP aloha-editable aloha-block-blocklevel-sortable ui-sortable" property="typo3:text" id="d7509440-2b61-a9f6-79dc-b4b0128a7301" contenteditable="true"><p class="animated">Enteasdfadsfr text here</p></div>

        			     <a class="btn btn-contrast btn-lg fadeInDownBig animated">
          			    <div property="typo3:buttonTitle" class="neos-inline-editable aloha-editable aloha-block-blocklevel-sortable ui-sortable" id="fef3be8b-b0a0-19c6-625d-36d50d2994b1" contenteditable="true">Reaasdfadsfasdasdasdfd more</div>
          				   </a>
                  </div>
                 </div>
               </div>
		
             
			 
	     

                    
</li>


<li typeof="typo3:HEX.Jed:Slide" about="/sites/jed/slider/node52d89636658b6/SliderlItems/node52d8965169314@user-litachok" class="neos-contentelement item" tabindex="0" data-neos-__workspacename="live" data-neos-_typoscript-path="page&lt;TYPO3.Neos:Page&gt;/body&lt;TYPO3.TypoScript:Template&gt;/slider&lt;TYPO3.Neos:ContentCollection&gt;/itemRenderer&lt;TYPO3.Neos:ContentCase&gt;/default&lt;TYPO3.TypoScript:Matcher&gt;/element&lt;HEX.Jed:Slider&gt;/SliderlItems&lt;TYPO3.Neos:ContentCollection&gt;/itemRenderer&lt;TYPO3.Neos:ContentCase&gt;/default&lt;TYPO3.TypoScript:Matcher&gt;/element&lt;HEX.Jed:Slide&gt;" data-neos-_removed="false" data-neosdatatype-_removed="xsd:boolean" data-neos-_hidden="false" data-neosdatatype-_hidden="xsd:boolean" data-neos-_hidden-before-date-time="" data-neosdatatype-_hidden-before-date-time="xsd:date" data-neos-_hidden-after-date-time="" data-neosdatatype-_hidden-after-date-time="xsd:date" data-neos-title="&lt;h1&gt;Enter headline here&lt;/h1&gt;" data-neos-text="&lt;p&gt;Enter text here&lt;/p&gt;" data-neos-button-link="" data-neosdatatype-button-link="xsd:reference" data-neos-button-title="Read adsfadsfmore" data-neos-__nodetype="HEX.Jed:Slide" style="width: 1286px; float: left; display: block;">
	
	
		
			 <div class="container">
                <div class="row">
                  <div class="col-lg-12 animate">
                  		<div property="typo3:title" class="neos-inline-editable aloha-editable aloha-block-blocklevel-sortable ui-sortable" id="62fd78ce-9ff9-660c-eb29-dc2a3a433354" contenteditable="true"><h1>Enter headline here</h1></div>
						<div class="neos-inline-editable HELLLLP aloha-editable aloha-block-blocklevel-sortable ui-sortable" property="typo3:text" id="9989cc12-3eba-ab66-6214-ab8de0a145af" contenteditable="true"><p>Enter text here</p></div>

        			     <a class="btn btn-contrast btn-lg fadeInDownBig animated">
          			    <div property="typo3:buttonTitle" class="neos-inline-editable aloha-editable aloha-block-blocklevel-sortable ui-sortable" id="4e577fb6-1334-8ef1-c160-5f14e7e89796" contenteditable="true">Read adsfadsfmore</div>
          				   </a>
                  </div>
                 </div>
               </div>
		
             
			 
	     

                    
</li>
</ul></div><ol class="flex-control-nav flex-control-paging"><li><a class="flex-active">1</a></li><li><a>2</a></li><li><a>3</a></li></ol><ul class="flex-direction-nav"><li><a class="flex-prev flex-disabled" href="#" tabindex="-1">Previous</a></li><li><a class="flex-next" href="#">Next</a></li></ul></div>