<!DOCTYPE html>
{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace ts=TYPO3\TypoScript\ViewHelpers}
{namespace media=TYPO3\Media\ViewHelpers}
<html>
<head>
	<f:section name="stylesheets">
   

         <link rel="stylesheet" href="{f:uri.resource(path: '3/css/bootstrap.min.css', package: 'TYPO3.Twitter.Bootstrap')}" media="all" />
		 
		 <link href="{f:uri.resource(path: 'stylesheets/jednotka_green.css', package: 'HEX.Jed')}" media="all" id="colors" rel="stylesheet" type="text/css" />
         
         <link href="{f:uri.resource(path: 'stylesheets/demo.css', package: 'HEX.Jed')}" media="all" rel="stylesheet" type="text/css" />
         <link href="{f:uri.resource(path: 'stylesheets/jed.css', package: 'HEX.Jed')}" media="all" rel="stylesheet" type="text/css" />
         <link href="{f:uri.resource(path: 'stylesheets/colorbox.css', package: 'HEX.Jed')}" media="all" rel="stylesheet" type="text/css" />

	</f:section>
	<f:section name="scripts">
		<!--[if lt IE 9]>
      <script src="{f:uri.resource(path: 'javascripts/ie/html5shiv.js', package: 'HEX.Jed')}" type="text/javascript"></script>
      <script src="{f:uri.resource(path: 'javascripts/ie/respond.min.js', package: 'HEX.Jed')}" type="text/javascript"></script>
    <![endif]-->
	</f:section>
</head>
<body>
<f:section name="body">	


<f:if condition="{backgroundImage}">
  <f:then>
      <div id='wrapper' style="background-image: url('{media:uri.image(image:backgroundImage)}') !important;">
 
  </f:then>
  <f:else>
    <div id='wrapper'>
  
  </f:else>

</f:if> 




  
      <header id='header'>
        <div class='container'>
            {parts.menu -> f:format.raw()}
        </div>
      </header>
      <div id='main' role='main'>
      <f:if condition="{subPage}">
          <f:then>
              <div id='main-content-header'>
                <div class='container'>
                  <div class='row'>
                    <div class='col-sm-12'>
                      <h1 class='title'>
                        {title}
                        <small>{pageDescription -> f:format.raw()}</small>
                      </h1>
                    </div>
                  </div>
                </div>
              </div>
          </f:then>
          <f:else>
             {slider -> f:format.raw()}
          </f:else>

      </f:if>
         
        <div id='main-content'>
          <div class='container'>

			{content.main -> f:format.raw()}
	     



       
   
          </div>
        </div>
        <div class='fade' id='scroll-to-top'>
          <i class='fa-icon-chevron-up'></i>
        </div>
      </div>
      <footer id='footer'>
        <div id='footer-main'>
          <div class='container'>
          	{footer -> f:format.raw()}
          </div>
          	
        </div>
        <div id='footer-copyright'>
          <div class='container'>
            <div class='row'>
              <div class='col-lg-12 clearfix'>
                <p class='copyright'>
                  Copyright
                  &copy;
                  
                </p>
                <div class='links'>
                  <a class='btn btn-circle btn-medium-light btn-sm' href='#'>
                    <i class='fa-icon-twitter text-dark'></i>
                  </a>
                  <a class='btn btn-circle btn-medium-light btn-sm' href='#'>
                    <i class='fa-icon-dribbble text-dark'></i>
                  </a>
                  <a class='btn btn-circle btn-medium-light btn-sm' href='#'>
                    <i class='fa-icon-facebook text-dark'></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>


  
    
</f:section>
		<f:section name="bodyScripts">



          <script src="{f:uri.resource(path: 'javascripts/plugins/modernizr/modernizr.custom.min.js', package: 'HEX.Jed')}" type="text/javascript"></script>
			<script src="{f:uri.resource(path: 'Libraries/jQuery/jquery-1.10.1.min.js', package: 'TYPO3.Twitter.Bootstrap')}"></script>
			<script src="{f:uri.resource(path: '3/js/bootstrap.min.js', package: 'TYPO3.Twitter.Bootstrap')}"></script>
			<script src="{f:uri.resource(path: 'javascripts/plugins/hover_dropdown/twitter-bootstrap-hover-dropdown.min.js', package: 'HEX.Jed')}" type="text/javascript"></script>
      <script src="{f:uri.resource(path: 'javascripts/plugins/flexslider/jquery.flexslider.min.js', package: 'HEX.Jed')}" type="text/javascript"></script>
       
       <script src="{f:uri.resource(path: 'javascripts/plugins/isotope/jquery.isotope.min.js', package: 'HEX.Jed')}" type="text/javascript"></script>
       <script src="{f:uri.resource(path: 'javascripts/plugins/isotope/jquery.isotope.sloppy-masonry.min.js', package: 'HEX.Jed')}" type="text/javascript"></script>

        <script src="{f:uri.resource(path: 'javascripts/jednotka.js', package: 'HEX.Jed')}" type="text/javascript"></script>
         <script src="{f:uri.resource(path: 'javascripts/jquery.colorbox-min.js', package: 'HEX.Jed')}" type="text/javascript"></script>
        
        
       

		 </f:section>
</body>
</html>
