{namespace neos=TYPO3\Neos\ViewHelpers}
<f:render section="itemList" arguments="{items: items, site: site}" />

<f:section name="itemList">


<nav class='navbar navbar-default' id='nav' role='navigation'>
    <div class='navbar-header'>
      <button class='navbar-toggle' data-target='.navbar-header-collapse' data-toggle='collapse' type='button'>
        <span class='sr-only'>Toggle navigation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
      <a class='navbar-brand' href='{neos:uri.node(node: site)}'>
        <img alt="Jednotka" width="117" height="39" src="{f:uri.resource(path: 'images/logo.svg', package: 'HEX.Jed')}" />
      </a>
    </div>
           

<div class='collapse navbar-collapse navbar-header-collapse'>
	<ul class='nav navbar-nav navbar-right'>

		<f:for each="{items}" as="item" iteration="menuItemIterator">
			
			<f:if condition="{0: item.state} != {0: 'normal'}">
				<f:then>
				    <li class="{item.state} dropdown">
					 <a class='dropdown-toggle' data-delay='50' data-hover='dropdown' data-toggle='dropdown' href='#'>
		        		<span>
		          			{item.label}
		          			<i class='fa-icon-angle-down'></i>
		        		</span>
		      		 </a>
		      		 <f:if condition="{item.subItems}">
		    
						<f:render section="subList" arguments="{items: item.subItems}" />				 
					</f:if>

					</li>
				</f:then>
				<f:else>
					<li class=" dropdown">
					 <a class='dropdown-toggle' data-delay='50' data-hover='dropdown' data-toggle='dropdown' href='#'>
		        		<span>
		          			{item.label}
		          			<i class='fa-icon-angle-down'></i>
		        		</span>
		      		 </a>
		      		 <f:if condition="{item.subItems}">
		    
						<f:render section="subList" arguments="{items: item.subItems}" />				 
					</f:if>

					</li>


				</f:else>
							
			</f:if>

			


		</f:for>
	 </ul>
	</div>
 </nav>
</f:section>

<f:section name="subList">
	<ul class='dropdown-menu' role='menu'>
		<f:for each="{items}" as="item">
			<li class="{item.state} ">
				<neos:link.node node="{item.node}">{item.label}</neos:link.node>
			</li>
		</f:for>
	</ul>
</f:section>
