{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace media=TYPO3\Media\ViewHelpers}
 

		<f:if condition="{node.context.workspace.name} != 'live'">
			 <f:then>
					<a class='image-link' >
					    <i class='fa-icon-search'></i>
							<f:if condition="{image}">
								<f:then>	
											<media:image image="{image}" alt="{alternativeText}" title="{title}" maximumWidth="{maximumWidth}" maximumHeight="{maximumHeight}" allowCropping="{allowCropping
						}" allowUpScaling="{allowUpScaling}" />
								</f:then>
								<f:else>	 
											<img src="{f:uri.resource(package: 'TYPO3.Neos', path: 'Images/dummy-image.png')}" title="Dummy image" alt="Dummy image" class="neos-handle" />
								</f:else>
							</f:if>
					  </a>

		 
			 </f:then>
			 <f:else>

			 	<a class='image-link' href="{link}" >
					    <i class='fa-icon-search'></i>
							<f:if condition="{image}">
								<f:then>	
											<media:image image="{image}" alt="{alternativeText}" title="{title}" maximumWidth="{maximumWidth}" maximumHeight="{maximumHeight}" allowCropping="{allowCropping
						}" allowUpScaling="{allowUpScaling}" />
								</f:then>
							</f:if>
					  </a>
			
			 </f:else>
		</f:if>
