{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace media=TYPO3\Media\ViewHelpers}
 



 
<div class='panel-heading'>
<f:if condition="{image}">
		<f:then>	
					<media:image image="{image}" alt="{alternativeText}" title="{title}" maximumWidth="{maximumWidth}" maximumHeight="{maximumHeight}" allowCropping="{allowCropping
}" allowUpScaling="{allowUpScaling}" />
		</f:then>
		<f:else>
			<f:security.ifAccess resource="TYPO3_Neos_Backend_GeneralAccess">
				<f:if condition="{node.context.workspace.name} != 'live'">
					<img src="{f:uri.resource(package: 'TYPO3.Neos', path: 'Images/dummy-image.png')}" title="Dummy image" alt="Dummy image" class="neos-handle" />
				</f:if>
			</f:security.ifAccess>
		</f:else>
	</f:if>
</div>