{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace media=TYPO3\Media\ViewHelpers}



<a class="panel panel-image video" data-toggle="lightbox ddd" href="http://www.youtube.com/embed/{video}?rel=0&amp;wmode=transparent">
    <div class="panel-icon">
    	<i class="fa-icon-play"></i>
    </div>
	<div class="panel-heading">
		<img title="" src="https://i1.ytimg.com/vi/{video}/hqdefault.jpg">
	</div>
</a>



<!-- 
                        <iframe src="http://www.youtube.com/embed/{video}?html5=1
&wmode=transparent" {f:if(condition: width, then: ' width="{width}"')}{f:if(condition: height, then: ' height="{height}"')}frameborder="0" allowfullscreen></iframe>
                        </figure>  style="margin-top: {marginTop}px;margin-left: {marginLeft}px;"-->

