{namespace neos=TYPO3\Neos\ViewHelpers}
 
                      <div class='panel panel-default'>
                        <div class='panel-heading'>
                          <h4 class='panel-title'>
                            <a class='accordion-toggle collapsed' data-parent='#accordion' data-toggle='collapse' href='#{node.identifier}'>
                              {neos:contentElement.editable(property: 'title')}
                            </a>
                          </h4>
                        </div>
                        <div class='panel-collapse collapse' id='{node.identifier}'>
                          <div class='panel-body'>
                        
		                 {neos:contentElement.editable(property: 'text')}
                          </div>
                        </div>
                      </div>                     
 