{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace ts=TYPO3\TypoScript\ViewHelpers}
 
		<f:if condition="{node.context.workspace.name} != 'live'">
			 <f:then>
			<div id="{node.identifier}" class="carousel slide" data-ride="carousel">
				  <!-- Indicators -->
				  <ol class="carousel-indicators">
				   
				    	<f:for each="{sliderItemArray}" as="item" iteration="itemIterator">
							<li data-target="#{node.identifier}" data-slide-to="{itemIterator.index}" class="{f:if(condition: itemIterator.isFirst, then: 'active')}"><i></i></li>
						</f:for>


				  </ol>

				  <!-- Wrapper for slides -->
				   {SliderlItems -> f:format.raw()}
				  <!-- Controls -->
				  <a class="left carousel-control" href="#{node.identifier}" data-slide="prev">
				    <!-- <span class="glyphicon glyphicon-chevron-left"></span>
				   -->
				   </a>
				  <a class="right carousel-control" href="#{node.identifier}" data-slide="next">
				   <!--  <span class="glyphicon glyphicon-chevron-right"></span> -->
				  </a>
				</div>
			 
             
			 </f:then>
			 <f:else>
			 		<div id="{node.identifier}" class="carousel slide" data-ride="carousel">
				  <!-- Indicators -->
				  <ol class="carousel-indicators">
				   
				    	<f:for each="{sliderItemArray}" as="item" iteration="itemIterator">
							<li data-target="#{node.identifier}" data-slide-to="{itemIterator.index}" class="{f:if(condition: itemIterator.isFirst, then: 'active')}"><i></i></li>
						</f:for>


				  </ol>

				  <!-- Wrapper for slides -->
				   {SliderlItems -> f:format.raw()}
				  <!-- Controls -->
				  <a class="left carousel-control" href="#{node.identifier}" data-slide="prev">
				   <!-- <span class="glyphicon glyphicon-chevron-left"></span>-->
				  </a>
				  <a class="right carousel-control" href="#{node.identifier}" data-slide="next">
				    <!--<span class="glyphicon glyphicon-chevron-right"></span>-->
				  </a>
				</div>
			 
			 			   
			 </f:else>
		</f:if>
 



