{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace ts=TYPO3\TypoScript\ViewHelpers}
<div{attributes -> f:format.raw()}>
	
	 
		<f:if condition="{node.context.workspace.name} != 'live'">


			 <f:then>
	 
            <f:if condition="{video}">
              <f:then>

            
              <div class='container'>
                <div class='row pos-rel'>
                  <div class='col-sm-12 col-md-6 animate'>
                    {neos:contentElement.editable(property: 'title', node: node)} 
                    {neos:contentElement.editable(property: 'text', node: node,class: 'HELLLLP')}
                    <a class='btn btn-bordered btn-white btn-lg fadeInRightBig animated  video-button' href='#'>
                     {neos:contentElement.editable(property: 'buttonTitle', node: node)}
                    </a>
                  </div>
                  <div class='col-sm-6 animate pos-sta hidden-xs hidden-sm'>
                        <f:render partial="YouTube" arguments="{_all}" />
                  </div>
                </div>
              </div>
             



              </f:then>
              <f:else>

                 <div class='container'>
                <div class='row'>
                  <div class='col-lg-12 animate'>
                   <div class="text-center"> 
                      {neos:contentElement.editable(property: 'title', node: node)}
                        {neos:contentElement.editable(property: 'text', node: node,class: 'HELLLLP')}

                       <a class='btn btn-contrast btn-lg fadeInDownBig animated'>
                        {neos:contentElement.editable(property: 'buttonTitle', node: node)}
                         </a>
                      </div>
                  </div>
                 </div>
               </div>


              </f:else>

            </f:if>
           
			 </f:then>
			 <f:else>  


         <f:if condition="{video}">
              <f:then>

            
              <div class='container'>
                <div class='row pos-rel'>
                  <div class='col-sm-12 col-md-6 animate'>
                    {title -> f:format.raw()}
                      {text -> f:format.raw()}
                    <a class='btn btn-bordered btn-white btn-lg fadeInRightBig animated video-button' href='#'>
                     {buttonTitle -> f:format.raw()}
                    </a>
                  </div>
                  <div class='col-sm-6 animate pos-sta hidden-xs hidden-sm'>
                         <f:render partial="YouTube" arguments="{_all}" />
                  </div>
                </div>
              </div>
             



              </f:then>
              <f:else>

                   <div class='container'>
                <div class='row'>
                  <div class='col-lg-12 animate'>
                    <div class="text-center"> 
                      {title -> f:format.raw()}
                      {text -> f:format.raw()}

                       <a class='btn btn-contrast btn-lg fadeInDownBig animated'>
                        {buttonTitle -> f:format.raw()}
                         </a>
                    </div>
                  </div>
                 </div>
               </div>


              </f:else>

            </f:if>


             
			 </f:else>
		</f:if>
  

                    
</div>
