{namespace neos=TYPO3\Neos\ViewHelpers}
<div{attributes -> f:format.raw()}>
     <div class='page-header page-header-with-icon'>
      <i class='{icon}'></i>
      <h2>
        {neos:contentElement.editable(property: 'header')}
        <small>{neos:contentElement.editable(property: 'text')}</small>
      </h2>
    </div>
</div>