{namespace neos=TYPO3\Neos\ViewHelpers}
<div{attributes -> f:format.raw()}>
	 
		<f:if condition="{node.context.workspace.name} != 'live'">
			 <f:then>
			 {neos:contentElement.editable(property: 'title', node: node)}
             {neos:contentElement.editable(property: 'text', node: node)}

             <a class='btn btn-contrast btn-bordered btn-sm'>
              {neos:contentElement.editable(property: 'buttonTitle', node: node)}
             </a>
			 </f:then>
			 <f:else>
				<a href="{buttonLink}"> {title -> f:format.raw()}</a>
    			{text -> f:format.raw()}
                <neos:link.node node="{buttonLink}">  <a class='btn btn-contrast btn-bordered btn-sm'>
              {buttonTitle -> f:format.raw()}
             </a></neos:link.node>
             
			 </f:else>
		</f:if>
	   

                    
</div>

