 <div class='tabbable'>
                      <ul class='nav nav-tabs' id='tab'>
                        <li class='active'>
                          <a data-toggle='tab' href='#tab-content-1'>Tab 1</a>
                        </li>
                        <li>
                          <a data-toggle='tab' href='#tab-content-2'>Tab 2</a>
                        </li>
                        <li>
                          <a data-toggle='tab' href='#tab-content-3'>Tab 3</a>
                        </li>
                      </ul>
                      <div class='tab-content' id='tab-content'>
                        <div class='tab-pane fade in active' id='tab-content-1'>
                          <p class='no-mg-b'>Lorem ipsum dolor sit amet, instructior conclusionemque pri an, reque principes euripidis in pri. Id postea periculis mel. Nam at dicta voluptatum, movet mundi commune ea eam, vim te repudiare inciderint vituperatoribus. Ex modo mucius volutpat quo, eos erat voluptua at, ad.</p>
                        </div>
                        <div class='tab-pane fade' id='tab-content-2'>
                          <p class='no-mg-b'>Causae perpetua partiendo id vis, eu accusamus disputando pri, dolore prodesset in his. Cetero feugait atomorum mel te, ut mel dolore eleifend. Eu ius utroque deleniti lobortis, quo ea facete virtute consequat. Vix ad tale splendide, id quem dolorem delicata sea sea.</p>
                        </div>
                        <div class='tab-pane fade' id='tab-content-3'>
                          <p class='no-mg-b'>Eu magna mazim omnesque est, ignota lucilius ullamcorper ex usu. Cu sit altera vituperata, no sint conclusionemque has, altera nostro voluptatibus mei in. Nibh dicam ius ad, nusquam deleniti nominati ei quo. At eos prompta sententiae theophrastus, has ex dicant intellegat adipiscing.</p>
                        </div>
                      </div>
                    </div>