{namespace neos=TYPO3\Neos\ViewHelpers}
<div class="portfolio-boxes">
	<div{attributes -> f:format.raw()}>
		 
	         
		<f:render partial="ImagePort" arguments="{_all}" />

		{neos:contentElement.editable(property: 'title')}
		{neos:contentElement.editable(property: 'text')}
	           
	</div>
</div>