{namespace neos=TYPO3\Neos\ViewHelpers}
<div{attributes -> f:format.raw()}>
 
		<f:if condition="{node.context.workspace.name} != 'live'">
			 <f:then>
		        <div class='item active quote'>
                    <div class='col-sm-12 text-center'>
                      {neos:contentElement.editable(property: 'text')}
                      <div class='author-wrapper'>
                        <p class='author'>
                            <strong>{neos:contentElement.editable(property: 'title')}</strong>
                        </p>
                      </div>
                    </div>
                  </div>
			 </f:then>
			 <f:else>
			   <div class='item active quote'>
                        <div class='col-sm-12 text-center'>
                          <p class='lead'>{text -> f:format.stripTags()}</p>
                          <div class='author-wrapper'>
                            <p class='author'>
                             <strong> {title -> f:format.stripTags()} </strong>
                            </p>
                          </div>
                        </div>
                      </div> 	 
			 </f:else>
		</f:if>
 
 </div>