{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace ts=TYPO3\TypoScript\ViewHelpers}
<f:security.ifAccess resource="TYPO3_Neos_Backend_GeneralAccess">
		<f:if condition="{node.context.workspace.name} != 'live'">
			 <f:then>
			 <div{attributes -> f:format.raw()}>
 			 
           			 {SliderlItems -> f:format.raw()}

            
 
				</div>
			 
             
			 </f:then>
			 <f:else>
			  <div class="carousel-blur flexslider">
 			 
           			 {SliderlItems -> f:format.raw()}
				</div>
			 			   
			 </f:else>
		</f:if>
	</f:security.ifAccess> 


