{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace ts=TYPO3\TypoScript\ViewHelpers}
<li{attributes -> f:format.raw()} >
	
	<f:security.ifAccess resource="TYPO3_Neos_Backend_GeneralAccess">
		<f:if condition="{node.context.workspace.name} != 'live'">
			 <f:then>
			 <div class='container'>
                <div class='row'>
                  <div class='col-lg-12 animate'>
                  		{neos:contentElement.editable(property: 'title', node: node)}
						{neos:contentElement.editable(property: 'text', node: node,class: 'HELLLLP')}

        			     <a class='btn btn-contrast btn-lg fadeInDownBig animated'>
          			    {neos:contentElement.editable(property: 'buttonTitle', node: node)}
          				   </a>
                  </div>
                 </div>
               </div>
		
             
			 </f:then>
			 <f:else>

			  <div class='container'>
                <div class='row'>
                  <div class='col-lg-12 animate'>
                  
                  		 <h1 class='big fadeInUp animated'>{title -> f:format.StripTags()}</h1>
    						<p class='normal fadeInRightBig animated'>{text -> f:format.StripTags()}</p>

             		   <neos:link.node node="{buttonLink}">  <a class='btn btn-contrast btn-lg fadeInDownBig animated'>
             			 {buttonTitle -> f:format.raw()}
             			</a></neos:link.node>
                  </div>
                 </div>
               </div>         
			 </f:else>
		</f:if>
	</f:security.ifAccess>     

                    
</li>
