{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace ts=TYPO3\TypoScript\ViewHelpers}
 
		<f:if condition="{node.context.workspace.name} != 'live'">
			 <f:then>
			 <div{attributes -> f:format.raw()}>
 			    

			 	<f:if condition="{position} != 'tabs-below'">

			 		<f:then>

 			          <ul class='nav nav-tabs' id='tab'>
   
                        <f:for each="{tabItemArray}" as="item" iteration="itemIterator">
							<li class="{f:if(condition: itemIterator.isFirst, then: 'active')}">
								 
                         			<a data-toggle='tab' href='#tab-{item.identifier}'>{item.properties.title}</a>
                       

							</li>
						</f:for>

                      </ul>
             		  {TabItems -> f:format.raw()}
			 		</f:then>
			 		<f:else>			 			        
			             {TabItems -> f:format.raw()}
			               <ul class='nav nav-tabs' id='tab'>
			   
			                        <f:for each="{tabItemArray}" as="item" iteration="itemIterator">
										<li class="{f:if(condition: itemIterator.isFirst, then: 'active')}">
											 
			                         			<a data-toggle='tab' href='#tab-{item.identifier}'>{item.properties.title}</a>
			                       


										</li>
									</f:for>

			                      </ul>
 
			 		</f:else>

			 	</f:if>            
 
				</div>
			 
             
			 </f:then>
			 <f:else>
			  	 <div{attributes -> f:format.raw()}>

			  	 	<f:if condition="{position} != 'tabs-below'">

			 			<f:then>
					 		<ul class='nav nav-tabs' id='tab'>
		   
		                        <f:for each="{tabItemArray}" as="item" iteration="itemIterator">
									<li class="{f:if(condition: itemIterator.isFirst, then: 'active')}">
										 
		                         			<a data-toggle='tab' href='#tab-{item.identifier}'>{item.properties.title}</a>
		                       
									</li>
								</f:for>

		                      </ul>
		             		{TabItems -> f:format.raw()}

			 			</f:then>
			 			<f:else>
		 					{TabItems -> f:format.raw()}
		 					<ul class='nav nav-tabs' id='tab'>
		   
		                        <f:for each="{tabItemArray}" as="item" iteration="itemIterator">
									<li class="{f:if(condition: itemIterator.isFirst, then: 'active')}">
										 
		                         			<a data-toggle='tab' href='#tab-{item.identifier}'>{item.properties.title}</a>
		                       
									</li>
								</f:for>

		                      </ul>

			 			</f:else>
			 		</f:if>


				</div>
			 			   
			 </f:else>
		</f:if>
 


