{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace ts=TYPO3\TypoScript\ViewHelpers}
 
		<f:if condition="{node.context.workspace.name} != 'live'">
			 <f:then>
				<div id="tab-{node.identifier}"  {attributes -> f:format.raw()} >
 			           
             {TabContent -> f:format.raw()}
            
 
				</div>
			 
             
			 </f:then>
			 <f:else>
			  <div id="tab-{node.identifier}"  {attributes -> f:format.raw()} >
 			           
             {TabContent -> f:format.raw()}
            
 
				</div>
			 			   
			 </f:else>
		</f:if>
	 


