{namespace neos=TYPO3\Neos\ViewHelpers}
<div{attributes -> f:format.raw()}>
	 

    <f:if condition="{node.context.workspace.name} != 'live'">
       <f:then>
             <a class='panel panel-image'>
       </f:then>
       <f:else>
          <f:if condition="{link}">
            <f:then>
                 <a class='panel panel-image' href='{link}'>
            </f:then>
            <f:else>
                  <a class='panel panel-image' href='#'>
            </f:else>
          </f:if>
       </f:else>
    </f:if>
     
           
                  <div class='panel-icon'>
                    <i class='{icon}'></i>
                  </div>

                  <f:render partial="Image" arguments="{_all}" />
                  <div class='panel-body'>
                    {neos:contentElement.editable(property: 'title')}
                    {neos:contentElement.editable(property: 'text')}
                  </div>
                </a>
           
</div>