body{width: auto;}
#wrapper{background-position: center 0px;}
#footer-main .title h1,#footer-main .title h2,#footer-main .title h3,#footer-main .title h4,#footer-main .title h5 {color: white;
font-size: 18px;
font-weight: 500;
text-transform: uppercase;
margin: 0 0 25px 0;}

.slider-edit li{float: left;list-style: none;margin: 5px 0px 5px 15px;}
.help-inner{
	outline: 2px solid #00b5ff !important;
outline-offset: 6px;
float: left;
width: 100%;
}
.neos-contentelement.hex-jed-tabitem{
    padding: 25px 0px 25px 0px;
}


.neos-contentelement.carusel-slider{
	padding: 27px 26px 23px 0px;
}






.right .carousel-control{


}



.right.carousel-control, .hero-carousel .flex-direction-nav .flex-prev {
    top: 50%;
    position: absolute;
    text-decoration: none;
    z-index: 999;
}
.right.carousel-control, .carousel-blur-arrows .flex-direction-nav .flex-prev {
    color: white;
    border: 2px solid white;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
    opacity: 0.15;
    -webkit-transition: opacity 300ms;
    -moz-transition: opacity 300ms;
    -o-transition: opacity 300ms;
    transition: opacity 300ms;
}
.right.carousel-control:before, .carousel-blur-arrows .flex-direction-nav .flex-prev:before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    *margin-right: .3em;
    content: "\f054";
    position: relative;
    top: -1px;
    font-size: 20px;
}
.right.carousel-control {
    right: 15px;
}


.right.carousel-control:before {
    content: "\f054";
    margin-right: -2px;
}


.hero-carousel .flex-direction-nav .flex-next, .left.carousel-control {
    top: 50%;
    position: absolute;
    text-decoration: none;
    z-index: 999;
}
.hero-carousel.carousel-blur-arrows:hover .flex-direction-nav .flex-next, .hero-carousel.carousel-blur-arrows:hover .flex-direction-nav .flex-prev {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}
.carousel-blur-arrows .flex-direction-nav .flex-next, .left.carousel-control {
    color: white;
    border: 2px solid white;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
    opacity: 0.15;
    -webkit-transition: opacity 300ms;
    -moz-transition: opacity 300ms;
    -o-transition: opacity 300ms;
    transition: opacity 300ms;
}
.carousel-blur-arrows .flex-direction-nav .flex-next:before, .left.carousel-control:before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    *margin-right: .3em;
    content: "\f054";
    position: relative;
    top: -1px;
    font-size: 20px;
}
.left.carousel-control {
    left: 15px;
}
@media (min-width: 992px) and (max-width: 1199px) {
    .left.carousel-control {
    left: -45px;
}
}.left.carousel-control:before {
    content: "\f053";
    margin-left: -2px;
}

.carousel .carousel-indicators {
bottom: 18px;
height: 20px;
}


.carousel .carousel-indicators li i{
height: 6px;
width: 6px;
border-radius: 3px;
background-color: #fff;
position: absolute;
display: block;
right: 4px;
top: 4px;
}

.carousel .carousel-indicators li{
display: inline-block;
cursor: pointer;
color: transparent;
position: relative;
background-color: transparent;
border: 2px solid transparent;
text-indent: -9999px;
width: 18px;
height: 18px;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
}

.carousel .carousel-indicators li.active, .carousel .carousel-indicators li:hover,.carousel .carousel-indicators li:focus{
    border-color: #fff;
    color: #fff;
    background-color: transparent;
}

.carousel .item h1,
.carousel .item h2,
.carousel .item h3,
.carousel .item h4,
.carousel .item h5,
.carousel .item h6{
    color: white;
    margin-top: 54px;
    line-height: 45px;
}

.carousel .item h1 { font-size: 4em; }
.carousel .item h2 { font-size: 3em; }
.carousel .item h3 { font-size: 2.34em; }
.carousel .item h5 { font-size: 1.68em; }
.carousel .item h6 { font-size: 1.51em; }

.carousel .item p{
    color: white;
    font-family: "Roboto";
    margin-top: 45px;
    line-height: 37px;
    font-size: 30px;
}

.carousel .item a{
    padding: 12px 40px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
    margin-top: 50px;
    margin-bottom: 103px;
}



/*queries*/


@media (max-width: 992px){
    
.right.carousel-control {
    display: none;
}

.left.carousel-control {
    display: none;
}

}


.panel-group.accordion  a.accordion-toggle div {
    display: inline-block;
}
.neos-contentelement.panel-group.accordion{
    padding: 25px 0px 25px 0px;
}

.panel.panel-image.video{
    padding: 10px;
    margin-top: 77px;
    margin-left: 40px;
    margin-bottom: 0px;
    width: 75%;
    border-radius: 10px;
}

.panel.panel-image.video .panel-heading{
    max-height: 400px;
    border-radius: 10px;
} 

.carousel .item a.video-button{
    margin-bottom: 58px;
}


@media (max-width: 991px) and (min-width: 768px){

    .carousel .item h1,
.carousel .item h2,
.carousel .item h3,
.carousel .item h4,
.carousel .item h5,
.carousel .item h6{
    font-size: 1em;
}

.carousel .item p{
    font-size: 1em;
}

.carousel .item a{
    font-size: 1em;
    margin-bottom: 58px;
}

}

@media (max-width: 768px){
    .carousel .item a{
    margin-bottom: 58px;
    }
}


/*neos ignores media query fix*/

.neos-backend .carousel .carousel-inner>.item {
max-height: 394px;
}